# Functions and Methods Homework - CS661 Python Programming
Assignment - 3

Total points  - 50

*5 points for optimized code*

Answer the following questions, download the .ipynb file and submit the file.

    * Name :Manoj Kumar reddy Mule
    * Sesion :5
    * CRN :73064

## Question #1
Points : 10


One lap around a running track is exactly 0.25 miles. Write the function miles_to_laps() that takes a number of miles as an argument and returns the number of laps. Complete the program to output the number of laps.

Output each floating-point value with two digits after the decimal point, which can be achieved as follows:
print('{:.2f}'.format(your_value))

    Ex: If the input is:1.5
    the output is:6.00
    Ex: If the input is:2.2
    the output is:8.80
    Your program must define and call the following function:
            def miles_to_laps(user_miles)

In [5]:
def miles_to_laps(user_miles):
    # Convert miles to laps (assuming 1 lap is 0.25 miles)
    laps = user_miles / 0.25
    # Format the result to two decimal places
    return f"{laps:.2f}"

In [6]:
# Example of calling the function
if __name__ == "__main__":
    # Get user input
    user_input = float(input("Enter miles: "))
    # Call the function and print the result
    print(miles_to_laps(user_input))

Enter miles: 2.2
8.80

## Question #2
Points : 5


Write a function that checks whether a number is in a given range (inclusive of high and low)

In [7]:
def ran_check(num,low,high):
    #Write code here!
    if num >= low and num <= high:
        print(f"{num} is in the range between {low} and {high}")
    else:
        print(f"{num} is not in the range between {low} and {high}")

In [8]:
# Check
ran_check(5,2,7)

5 is in the range between 2 and 7

Write a function that checks whether a number is in a given range return a boolean:

In [9]:
def ran_bool(num,low,high):
    #Write code here!
    return num >= low and num <= high

In [10]:
ran_bool(3,1,10)

True

## Question #3
Points : 5

Write a Python function that accepts a string and calculates the number of upper case letters and lower case letters.

    Sample String : 'Hello Students, how are you this fine Tuesday?'
    Expected Output :
    No. of Upper case characters : 3
    No. of Lower case Characters : 34

Note: You can use tring methods **.isupper()** and **.islower()**

In [13]:
def upper_lower(s):

    upper_count = sum(1 for char in s if char.isupper())
    lower_count = sum(1 for char in s if char.islower())

    print(f"No. of Upper case characters: {upper_count}")
    print(f"No. of Lower case characters: {lower_count}")

In [14]:
s = 'Hello Students, how are you this fine Tuesday?'
upper_lower(s)

No. of Upper case characters: 3
No. of Lower case characters: 34

## Question #4
Points : 5

Write a function to check if the given year is a leap year. A leap year is when a year has 366 days: An extra day, February 29th. The requirements for a given year to be a leap year are:

    1) The year must be divisible by 4

    2) If the year is a century year (1700, 1800, etc.),
       the year must be evenly divisible by 400

Some example leap years are 1600, 1712, and 2016.

Funtion should takes in a year and determines whether that year is a leap year.

    Ex: If the input is: 1712
        the output is: 1712 is a leap year.

In [19]:
def leap_year(year):
    if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
        print(f"{year} is a leap year.")
    else:
        print(f"{year} is not a leap year.")

# Example check
leap_year(1712)

1712 is a leap year.

## Question #5
Points : 5

**Write a Python function to multiply all the numbers in a list.**

    Sample List : [1, 2, 3, -4]
    Expected Output : -24

In [20]:
def multiply(numbers):
   #Write code here
    result = 1
    for num in numbers:
        result *= num
    return result

In [ ]:
multiply([1,2,3,-4])

-24

## Question #6
Points : 5

**Write a Python function that checks whether a word or phrase is palindrome or not.**

Note: A palindrome is word, phrase, or sequence that reads the same backward as forward.

    e.g., madam,kayak,racecar

    input : madam
    output: Given 'madam' is a palidrome.

In [21]:
def palindrome(s):

    if s == s[::-1]:
        print(f"Given '{s}' is a palindrome.")
    else:
        print(f"Given '{s}' is not a palindrome.")

In [22]:
palindrome('helleh')

Given 'helleh' is a palindrome.

## Question #7
Points : 5


**Write a Python function to check whether a string is pangram or not. (Assume the string passed in does not have any punctuation)**

    Note : Pangrams are words or sentences containing every letter of the alphabet at least once.
    For example : "The quick brown fox jumps over the lazy dog"

In [25]:
import string

def ispangram(s):
    alphabet_set = set(string.ascii_lowercase)
    return alphabet_set.issubset(set(s.lower()))

In [26]:
ispangram("The quick brown fox jumps over the lazy dog")

True

## Question #8
Points : 5

Toll gates have different fees based on the time of day, weekdays/weekends. Write a function that has three parameters: the current hour of time (int), time is morning (boolean) and whether the day is a weekend(boolean). The function returns the correct toll fee (float), based on the chart below.

    Weekday Tolls

    Before 7:00 am ($1.15)
    7:00 am to 9:59 am ($2.95)
    10:00 am to 2:59 pm ($1.90)
    3:00 pm to 7:59 pm ($3.95)
    Starting 8:00 pm ($1.40)
    
    Weekend Tolls

    Before 7:00 am ($1.05)
    7:00 am to 7:59 pm ($2.15)
    Starting 8:00 pm ($1.10)

    input : toll_fee(8, True, False)
    Output : $ 2.95

In [29]:
def toll_fee(hour, morning, weekend):
    if weekend:
        if hour < 7:
            return 1.05
        elif hour < 20:
            return 2.15
        else:
            return 1.10
    else:
        if hour < 7:
            return 1.15
        elif hour < 10:
            return 2.95
        elif hour < 15:
            return 1.90
        elif hour < 20:
            return 3.95
        else:
            return 1.40

In [30]:
#call your function

fee = toll_fee(8, True, False)
print("The fee of the hour: ", fee)

The fee of the hour:  2.95

*If you extend the program to add roud trip fee extra credit point 5 will be awarded.*