##Knowlwdge Check - 1

**Answer the following questions, download the .ipynb file and submit the file.**
* Name :Manoj Kumar Reddy Mule
* Sesion : 1
* CRN : 73064
* Points: 100

### Printing output

1 - Using print(), print your name and city following the format:

        Name : Angela
        City : New York

In [41]:
print("Name : Manoj Kumar Reddy Mule")
print("City : New York")

Name : Manoj Kumar Reddy Mule
City : New York

2 - Print the message below

     Emergency Alert
     NEWS : FLASH FLOOD WARNING this area till 7:00 PM

In [ ]:
print("Emergency Alert")
print("NEWS : FLASH FLOOD WARNING this area till 7:00 PM")

Emergency Alert
NEWS : FLASH FLOOD WARNING this area till 7:00 PM

### Arithmetic Operators and Variables

3 - Take a number and divide it by 2, then take the output and divide it by 2, and again divide by 2. Use variables.


    Example
    input : 2000
    output is: 1000 500 250

In [ ]:

# Example input
number = 2000

# Perform the divisions
div1 = number / 2
div2 = div1 / 2
div3 = div2 / 2

print(div1, div2, div3)

1000.0 500.0 250.0

4 - Given three number x, y, and z,


       Output: x to the power of z,
               x to the power of y,
               x minus y,
               remainder value when x is divided by z

In [1]:
# Given numbers
x = 5
y = 3
z = 2

# Perform calculations
power_x_z = x ** z
power_x_y = x ** y
minus_xy = x - y
remainder_x_z = x % z

print("x to the power of z:", power_x_z)
print("x to the power of y:", power_x_y)
print("x minus y:", minus_xy)
print("remainder when x divided by z:", remainder_x_z)

x to the power of z: 25
x to the power of y: 125
x minus y: 2
remainder when x divided by z: 1

5 - Add

        4 quarters (0.25),  3 dimes (0.10), 2 nickels (0.5) and 1 cent
        Output:  the total amount as dollars and cents.

In [16]:
quarter=0.25
dime=0.10
nickels=0.5
cent=0.01
total=4*quarter+3*dime+2*nickels+cent
print(total)

2.3099999999999996

### Strings

6 - Given the string **Python**, with the help of slicing, get **o**.

In [4]:
k="Python"

k[4]

'o'

7 - Given the string **Python**, with the help of slicing get,  **tho**.

In [6]:
w="Python"
w[2:5:]

'tho'

8 - Given the string **Python Class**, with the help of slicing, get **Class**.

In [7]:
d="python Class"
d[7::]

'Class'

9 - Find the length of the String  **Welcome to Pace University**

In [17]:
v="Welcome to Pace University"
print(len(v))

26

10 - Split the String  **Welcome to Pace University**  into words

In [22]:
v="Welcome to Pace University"
words=v.split()
print(words)

['Welcome', 'to', 'Pace', 'University']

11 - Replace the letter  **i**  with  **o**  in  **Artificial intelligence**

In [24]:
n="Artificial intelligence"
r=n.replace("i","o")
print(r)

Artofocoal ontellogence

12 - convert the text  **DATA Science**  into lower case ( as **data science**)

In [25]:
n="DATA Science"
lo=n.lower()
print(lo)

data science

13 - convert the text  **DATA Science**  into UPPER case ( as **DATA SCIENCE**)

In [26]:
n="DATA Science"
up=n.upper()
print(up)

DATA SCIENCE

14 - reverse the given String  **Artificial intelligence**

In [33]:
n="Artificial intelligence"
list(n)
m=n[::-1]
print(m)

ecnegilletni laicifitrA

###Comparision Operators

15 - Compare two number a =150, b = 225 and print if they are:

        equal,
        greater,
        greater than or equal to,
        less,
        less than or equal to,  
        not equal
       
        example : a < b
                  print("a is less than b")

In [37]:
a=150
b=225


print(a==b)

print(a>b)
print(a>=b)

print(a<b)

print(a<=b)

print(a!=b)

False
False
False
True
True
True

###Lists

16 - Create a **list** of **lists** of integers elements

In [38]:
n=[[1,2],[3,4]]
print(n)

[[1, 2], [3, 4]]

17 - Create a **list** of **lists** of Text elements

In [39]:
n=[["good","bad"],["food","red"],["tax","fax"]]
print(n)

[['good', 'bad'], ['food', 'red'], ['tax', 'fax']]