##Knowlegde Check - 3
Total Point : 50

5 Points for each answer  = 45
5 points for optimized code, use of lamda, map, etc  = 5

**Answer the following questions, download the .ipynb file and submit the file.**

    * Name : Manoj Kumar Reddy Mule
    * Sesion :06
    * CRN :73064

## Question# 1

Points : 5 *italicized text*

Write a function that returns the smallest of two even numbers, if both numbers are even and, the greater if one or both numbers are odd
   
                   lesser_of_two_evens(2,4) --> 2
                   lesser_of_two_evens(2,5) --> 5

In [30]:
def smallest_of_two_evens(a, b):
    return min(a, b) if a % 2 == 0 and b % 2 == 0 else max(a, b)

In [31]:
# Check1
smallest_of_two_evens(2,4)

2

In [32]:
# Check2
smallest_of_two_evens(2,5)

5

## Question# 2

Points : 5

Write a function takes a two-word string and returns True if both words begin with same letter.

            word_crackers('Lion', 'Lady') --> True
            word_crackers('Crazy', 'Drink') --> False

In [33]:
def word_crackers(word1, word2):
    return word1[0].lower() == word2[0].lower()

In [34]:
# Check1
word_crackers('Lion', 'Lady')

True

In [35]:
# Check2
word_crackers('Crazy', 'Drink')

False

## Question# 3

Points : 5

Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    sum_twenty(20,10) --> True
    sum_twenty(12,8) --> True
    sum_twenty(2,3) --> False

In [36]:
def sum_twenty(n1, n2):
    return n1 == 20 or n2 == 20 or n1 + n2 == 20

In [10]:
# Check1
sum_twenty(20,10)

True

In [11]:
# Check2
sum_twenty(2,3)

False

## Question# 4

Points : 5

Write a function that capitalizes the first and fourth letters of a name
     
    cap_first_four('macdonald') --> MacDonald

In [37]:
def cap_first_four(name):
    return ''.join([name[i].upper() if i in [0, 3] else name[i] for i in range(len(name))])

In [38]:
# Check
cap_first_four('macdonald')

'MacDonald'

## Question# 5

Points : 5

Given a sentence, return a sentence with the words reversed

    rev_words('I am home') --> 'home am I'
    rev_words('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join.

    " ".join(['Hello','world'])
    "Hello world"

In [40]:
def rev_words(text):
    return " ".join(text.split()[::-1])

In [41]:
# Check1
rev_words('I am home')

'home am I'

In [42]:
# Check2
rev_words('We are ready')

'ready are We'

## Question# 6

Points : 5

Given an integer n, return True if n is nearest to either 100 or 200 with the difference of upto 10.

    nearest_num(90) --> True
    nearest_num(104) --> True
    nearest_num(150) --> False
    nearest_num(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [43]:
def nearest_num(n):
    return any(abs(n - x) <= 10 for x in [100, 200])

In [18]:
# Check1
nearest_num(104)

True

In [19]:
# Check2
nearest_num(150)

False

In [20]:
# Check3
nearest_num(209)

True

## Question# 7

Points : 5

Given a list of ints, return True if the list contains a same numeric value next.

    contains_two_samevalues([1, 3, 3]) → True
    contains_two_samevalues([1, 3, 1, 3]) → False
    contains_two_samevalues([3, 1, 3]) → False

In [44]:
def contains_two_samevalues(nums):
    return any(nums[i] == nums[i + 1] for i in range(len(nums) - 1))

In [45]:
# Check1
contains_two_samevalues([1, 3, 3])

True

In [46]:
# Check2
contains_two_samevalues([1, 3, 1, 3])

False

In [24]:
# Check3
contains_two_samevalues([3, 1, 3])

False

## Question# 8

Points : 5

Given a string, return a string where for every character of the string appears 3 time.

    repeat_three('Hello') --> 'HHHeeellllllooo'
    repeat_three('Mississippi') --> 'MMMiiissssssiiissssssiiippppppiii'

In [47]:
def repeat_three(text):
    return ''.join(map(lambda x: x * 3, text))

In [48]:
# Check1
repeat_three('Hello')

'HHHeeellllllooo'

In [49]:
# Check2
repeat_three('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

## Question# 9

Points : 5

Write a function that returns the *number* of prime numbers that exist up to and including a given number

    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [50]:
def count_primes(num):
    if num < 2:
        return 0
    return sum(1 for i in range(2, num + 1) if all(i % j != 0 for j in range(2, int(i**0.5) + 1)))

In [51]:
# Check1
count_primes(100)

25